
body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    height:100%;
    background: rgb(156, 177, 223);
}

.navegacion-por-el-sitio {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(7, 0, 65, 0.95);
    border-top: solid #15b9e2;
    font-weight: 400;
    z-index: 12;
}

.navegacion-por-el-sitio img:hover {
	-webkit-animation: navegacion-por-el-sitio 3s steps(2, end) infinite both;
	        animation: navegacion-por-el-sitio 3s steps(2, end) infinite both;
}

 @-webkit-keyframes navegacion-por-el-sitio {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes navegacion-por-el-sitio {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

.blur-in-expand{animation:blur-in-expand 0.4s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

.footer-contact:hover {
  -webkit-animation: footer-contact 0.5s ease-in-out infinite both;
  animation: footer-contact 0.5s ease-in-out infinite both;
}


 @-webkit-keyframes footer-contact{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes footer-contact {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.navegacion-por-el-sitio ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-inline-start: 0;
    justify-content: space-around;
}

.navegacion-por-el-sitio li {
  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.navegacion-por-el-sitio img {
    width: 50px;
    border-radius: 2%;
}

.menu-logo {
  line-height: 0;
  margin: 0 10px;
  width: 100%;
}

.logo-img {
  width: 200px;
  overflow: hidden;
  padding: 0%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 2px;
}

.menu-container {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background: rgba(195, 207, 255, 0.774);
    color: #cdcdcd;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-bottom: solid 2px rgba(7, 0, 65, 0.95);
    padding: 2% 0;
    justify-content: space-between;
    margin-right: 5%;
   
} 

.pictures-location {
    font-size: 1.5em;
    width: 100%;
    text-align: end;
}

.pictures-location a {
    text-decoration: none;
    color: rgb(0, 81, 255);
    transition: color 0.3s ease;
    padding: 5%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
}


.menu-container a:hover {
    color: rgb(6, 32, 90);
    
}



.contact ul {
    list-style: none;
    display: flex;
}

.contact li {
  padding: 0 15px;
  font-size: 22px;
}


.varadero-beach {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 20px;
  max-width: 90%;
  height: auto;
}


.welcome ,.welcome-cmercy{
  font-size: 1.1em;
  padding: 2% 10% 0 10%;
  width: 80%;
  font-family: 'Kanit', sans-serif;
  color: rgb(4, 12, 29);
  font-weight: 300;
}

.welcome-cmercy {
  margin: 0;
}


.map {
  width: 100%;
  height: 40vh;
}


.tracking-in-contract {
  animation:tracking-in-contract 0.8s linear both
} 
@keyframes tracking-in-contract {
  0% { 
    letter-spacing: .6em;
    opacity:0
  }
  40% {
    opacity: .6
  }
  100% {
    letter-spacing: normal;
    opacity:1
  }
}



.footer-cmercy {
  background: rgb(4, 12, 29);
  font-weight: 400;
  color: #cdcdcd;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
}

h2 {
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: 600;
  color: rgb(6, 80, 241); 
  font-size: 1.8em;
}

.arrow {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 20%;
  appearance: none;
  border-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.prev {
  text-align: center;
  align-items: center;
  top: 40%;
  left: 0;
  background: none;
}


.next {
  text-align: center;
  align-items: center;
  top: 40%;
  right: 0;
  background: none;
}

.arrow-left-right {
  width: 75%;
  /*background-color: rgba(1, 10, 37, 0.808);*/
  border-radius: 20%;
  z-index: 5;
}


.carousel {
  position: relative;
  border-radius: 15px;
  background: rgb(206, 217, 235);
  z-index: 3;
}

.gallery img {
  width: 300px;
  display: block;
  border-radius: 8%;
}

.gallery {
  width: 100%;
  overflow: hidden; 

}

.gallery ul {
  width: 2200px;
  margin-right: 2%;
  list-style: none;
  transition: margin-left 250ms;
  margin-top: 10px;
  margin-bottom: 5px;
}

.gallery li {
  display: inline-block;
}

.amenities {
  position: relative;
  list-style: none;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em 0.6em;
  justify-content: space-between;
  margin-right: 10%;
  padding-inline-start: 0;
  margin: 10% 5%;
  left: 6%;
}




.amenities li {
  animation: animate 1.5s linear infinite;
  transform-origin: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
}

@keyframes animate {
  0%{
    transform: translate(50%,50%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
 
}

.contact-footer {
  display: flex;
  flex-direction: column;
}
.phone-email {
  text-align: center;
  align-items: center;
  text-decoration: none;
  margin-top: 4%;
  color: #15b9e2;
}

.navegacion-por-el-sitio--active {
  display: none;
}

@media only screen and (min-width: 576px) {
  .menu-container {
    padding: 0.8% 0;
  } 

  .map {
    width: 100%;
    height: 60vh;
  }
  
  .varadero-beach {
    max-width: 80%;
    margin-top: 1%;
  }

  h2 {
    margin-top: 2%;
  }

  .amenities {
    gap: 0.5em 0.1em;
    margin: 8% 5%;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) { 
  .varadero-beach {
    max-width: 50%;
    margin-top: 4%;
    position: relative;
    margin-right: 3%;
  }

  .welcome-cmercy {
    width: 50%;
    padding: 4% 4% 1% 6%;
    align-items: center;
    display: inline-flex;
    font-size: 1.4rem;
  }

  .welcome {
    font-size: 1.3rem;
  }
  .welcome-together {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .amenities {
    gap: 0.5em 0.1em;
    margin: 5% 5%;
    align-items: center;
  }
}


@media only screen and (min-width: 992px){ 
  .varadero-beach {
    width: 60%;
  }

  .welcome-cmercy {
    width: 40%;
  }

  .welcome-together {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
 
}

@media only screen and (min-width: 1200px){ 

  .welcome-cmercy {
    width: 60%;
  }

  .welcome-together {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  
  .amenities {
    gap: 0.5em 0.1em;
    margin: 3% 5%;
    align-items: center;
  }

}
