---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
   imagePath: string;
   altText: string;
   imgClass: string;
}

const { imagePath, altText, imgClass } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,webp}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`);
---
<div>
    <Image src={images[imagePath]()} alt={altText} class={imgClass}/>
</div>

<style>
    .hero-img:hover {
		opacity: 70%;
		transition: opacity 250ms ease-in;
	}
</style>